/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 50px;
}
.footer {
position: absolute;
bottom: 0;
width: 220px;
/* Set the fixed height of the footer here */
height: 30px;
background-color: rgba(203,190,181,0.3);
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
padding: 50px 15px 0;
}
.container .text-muted {
margin: 5px 0;
}

.footer > .container {
padding-right: 15px;
padding-left: 15px;
}

code {
font-size: 80%;
}

