body{
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: touch;
    font-family: $base-font-stack;
    font-size: $base-font-size;
    line-height: 1.5em;
    color: $base-font-color;
}