.navbar{
    background-color: rgba(255,255,255,0.9);
    border: none;
}

/*.navbar-right > li > a, .navbar-right > a{
    color: #000 ;
}

.navbar-right > li > a:hover, .navbar-right > li > a:active, .nav > a:hover, .nav > a:active{
    color: #fff ;
    background-color: rgba(0,0,0,0.3);
}*/